* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button1 {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(#ff21bc, #b21783);
  padding: 5px 15px;
  border-radius: 0.5em;
  text-transform: uppercase;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4), inset -5px -10px 10px #b1147d;
  margin-right: 10px;
  cursor: pointer;
}

.button2 {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #d1d0d5;
  border: 2px solid #443b78;
  border-radius: 0.5em;
  padding: 5px 15px;
  margin: 0px 5px;
}